<H1 align="center"> {{question.code}}:{{question.name}} </H1>
<p align="center">
    input: standard input<br>
    output: standard output<br>
</p>


<p>
    {{question.statement}}
</p>

<form action="{% url 'judge:CodeSubmission' question.id %}" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <fieldset>
        <center><b>Submit your code<b></center>
        <HR>
        <div align="center">
            <label for="language" >Choose a Language:</label>
            <select id="language" name="language">
                <option id="cpp" name="cpp">cpp</option>
                <!-- <option id="c">C</option> -->
                <option id="python" name="python">python</option>
            </select>
            <br>
            {{ value|linebreaks }}
            <textarea id="textsolution" name="textsolution" rows="30" cols="100"></textarea>
            <br><br>
            <input type="submit" value="Submit">
        </div>
    </fieldset>
</form>


<!-- <h1 align="center" >{{ question.name }}</h1>

<p> {{question.statement}} </p>

<form action="{% url 'judge:CodeSubmission' question.id %}" enctype="multipart/form-data" method="post"> 
{% csrf_token %}
    <fieldset>
        <h3 align="center"> Submit your Code here</h3>
        <div align="center">
            <input type="file" id="solution" name="solution">
            <input type="submit" value="Submit"> 
        </div>
    </fieldset>
</form> -->



    